<mat-card>
    <mat-card-header>
        Nueva entrada
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div>
            <form [formGroup]="EntrieForm">
                <fieldset>
                    <legend>Listado de productos</legend>
                    <div class="wrapper-grid-form-search-act">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Producto</mat-label>
                            <mat-select #productName formControlName="productName" placeholder="Producto">
                                <mat-option>
                                    <ngx-mat-select-search placeholder="Buscar producto" formControlName="searchName" [searching]="flags.searching"
                                    placeholderLabel="Escribe el nombre del producto" noEntriesFoundLabel="No se encontraron resultados">

                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let item of filteredServerSideSupplies | async" [value]="item">
                                    {{ item.tempName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Cantidad </mat-label>
                            <input matInput #quantity formControlName="quantity" type="number" placeholder="Ej. 10">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Elige caducidad</mat-label>
                            <input matInput #expiredDate formControlName="expiredDate" [matDatepicker]="picker">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <div class="flex-center-end">
                            <button mat-raised-button color="accent" (click)="AddProduct()">
                                Agregar
                            </button>
                        </div>
                    </div>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
                        <ng-container matColumnDef="index">
                          <th mat-header-cell *matHeaderCellDef> No. </th>
                          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Nombre </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="description">
                          <th mat-header-cell *matHeaderCellDef> Descripción </th>
                          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="expirationDate">
                          <th mat-header-cell *matHeaderCellDef> Caducidad </th>
                          <td mat-cell *matCellDef="let element"> {{(element.expiredDate != 'N/A' ? (element.expiredDate | date : "dd/MM/YYYY") : element.expiredDate)}} </td>
                        </ng-container>

                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
                            <td mat-cell *matCellDef="let element; let i = index" class="text-center" (click)="DeleteSupplie(i)"> 
                                <button mat-button color="warn">
                                    <mat-icon style="margin-right: 0;">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = i"></tr>
                    </table>
                </fieldset>
            </form>
        </div>
    </mat-card-content>
    <mat-card-actions class="mb-20" align="end">
        <button [routerLink]="['/admin/entries']" mat-raised-button style="margin-right: 5px;">Regresar</button>
        <button mat-raised-button color="primary" style="margin-right: 5px;" (click)="ValidateForm()">Guardar</button>
    </mat-card-actions>
</mat-card>
