<mat-drawer-container class="sidebar-container" hasBackdrop="true" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <nav>
            <div>
                logo foto
            </div>
            <mat-divider></mat-divider>
            <ul>
                <!-- <li>
                    <a href="">
                        <mat-icon class="mr-10">dashboard</mat-icon> Dashboard
                    </a>
                </li> -->
                <li [routerLink]="['/admin/supplies']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a>
                        <mat-icon class="mr-10">category</mat-icon> Productos
                    </a>
                </li>
                <!-- <li>
                    <a href="">
                        <mat-icon class="mr-10">inventory_2</mat-icon> Paquetes
                    </a>
                </li> -->
                <li  [routerLink]="['/admin/entries']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a>
                        <mat-icon class="mr-10">local_shipping</mat-icon> Entradas
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin/outputs']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                        <mat-icon class="mr-10">rocket</mat-icon> Salidas
                    </a>
                </li>
                <!-- <li>
                    <a href="">
                        <mat-icon class="mr-10">pallet</mat-icon> Existencias
                    </a>
                </li> -->
                <!-- <li>
                    <a href="">
                        <mat-icon class="mr-10">sell</mat-icon> Ventas
                    </a>
                </li> -->
                <!-- <li>
                    <a [routerLink]="['/admin/users']">
                        <mat-icon class="mr-10">manage_accounts</mat-icon> Usuarios
                    </a>
                </li> -->
            </ul>
        </nav>
        <!-- <p>Auto-resizing sidenav</p>
        <mat-nav-list>
            <mat-list-item [activated]="true">
                <mat-icon class="mr-5">dashboard</mat-icon>
                Dashboard
            </mat-list-item>
            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="mr-5">dashboard</mat-icon> Mobile Phone
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item (click)="redirectto()">
                        <mat-icon class="mr-5">apple</mat-icon><span>iOS</span>
                    </a>
                    <a mat-list-item (click)="redirectto2()">
                        <mat-icon class="mr-5">android</mat-icon><span>Android</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="mr-5">dashboard</mat-icon> Mobile Phone
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="#">
                        <mat-icon class="mr-5">apple</mat-icon><span>iOS</span>
                    </a>
                    <a mat-list-item routerLink="#">
                        <mat-icon class="mr-5">android</mat-icon><span>Android</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-nav-list> -->
    </mat-drawer>
  
    <div class="sidenav-content">
        <app-header (sendHideSidebar)="ValidateHideSidebar($event)"></app-header>

        <!--main content-->
        <div class="main-container">
            <router-outlet></router-outlet>
        </div>

        <!-- <app-footer></app-footer> -->
    </div>
  
</mat-drawer-container>
