<div class="wrapper-btn-actions">
    <div class="btn-action" title="Mostrar filtros" (click)="ShowFilters()">
        <mat-icon>filter_alt</mat-icon>
    </div>
    <div class="btn-action" title="Refrescar" (click)="ReloadSupplieList()">
        <mat-icon>autorenew</mat-icon>
    </div>
    <div class="btn-action" title="Nuevo producto" [routerLink]="['/admin/supplies/new']">
        <mat-icon>add</mat-icon>
    </div>
</div>
<app-supplie-filters [reloadList]="reloadList" (supplieFilters)="CatchFilters($event)" *ngIf="flags.showFilters"></app-supplie-filters>
<mat-card>
    <mat-card-header>
        Listado de productos
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div>
            <fieldset>
                <legend>Resultados [{{tableData.dataSourceCount}}]</legend>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element; let i = index;"> {{element.index}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>

                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef> Descripción </th>
                      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="presentation">
                      <th mat-header-cell *matHeaderCellDef> Presentación </th>
                      <td mat-cell *matCellDef="let element"> {{element.presentation?.name}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="public_price">
                      <th mat-header-cell *matHeaderCellDef> Precio público </th>
                      <td mat-cell *matCellDef="let element"> ${{element.public_price}}.00 </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th class="text-center" mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td class="text-center" mat-cell *matCellDef="let element">
                            <button class="text-center" mat-button color="primary">
                                <mat-icon style="margin-right: 0;">edit</mat-icon>
                            </button>
                            <button mat-button color="warn">
                                <mat-icon style="margin-right: 0;">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="tableData.displayedColumns;"></tr>
                    <tr mat-row *matRowDef="let row; columns: tableData.displayedColumns; let i = index"></tr>
                </table>
            </fieldset>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <mat-paginator class="full-width mt-10" 
            [pageSizeOptions]="[10, 20]"
            aria-label="Selecciona la página"
            showFirstLastButtons>
        </mat-paginator>
    </mat-card-actions>
</mat-card>
