<mat-card class="mb-20" [formGroup]="OutputFiltersForm">
    <mat-card-content>
        <div>
            <fieldset>
                <legend>Filtros de búsqueda</legend>
                <div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Folio </mat-label>
                        <input #folio formControlName="folio" matInput type="text" placeholder="Ej. O-20230619001"
                        (keyup)="$event.keyCode == 13 ? SearchOutputs() : null">
                    </mat-form-field>
                </div>
            </fieldset>
        </div>
    </mat-card-content>
    <mat-card-actions class="mb-20" align="end">
        <button (click)="CleanFilters()" mat-raised-button style="margin-right: 5px;">Limpiar filtros</button>
        <button mat-raised-button color="primary" style="margin-right: 5px;" (click)="SearchOutputs()">Buscar</button>
    </mat-card-actions>
</mat-card>
