<mat-card class="mb-20" [formGroup]="SupplieFiltersForm">
    <mat-card-content>
        <div>
            <fieldset>
                <legend>Filtros de búsqueda</legend>
                <div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Nombre/Descripción </mat-label>
                        <input #description formControlName="description" matInput type="text" placeholder="Ej. Aretes 20345"
                        (keyup)="$event.keyCode == 13 ? SearchSupplies() : null">
                    </mat-form-field>
                </div>
            </fieldset>
        </div>
    </mat-card-content>
    <mat-card-actions class="mb-20" align="end">
        <button mat-raised-button style="margin-right: 5px;" (click)="CleanFilters()">Limpiar filtros</button>
        <button mat-raised-button color="primary" style="margin-right: 5px;" (click)="SearchSupplies()">Buscar</button>
    </mat-card-actions>
</mat-card>