<div class="wrapper-code-verify flex-center-center">
    <mat-card class="container-verify-code">
        <mat-card-header>
            <mat-toolbar class="full-width text-center mb-10" color="primary">
                <span>Verificar código</span>
            </mat-toolbar>
        </mat-card-header>
        <mat-card-content>
            <div class="mb-30">
                <form class="form-code-verification mb-20" autocomplete="off">
                    <input type="password" class="input-code" maxlength="1">
                    <input type="password" class="input-code" maxlength="1">
                    <input type="password" class="input-code" maxlength="1">
                    <input type="password" class="input-code" maxlength="1">
                    <input type="password" class="input-code" maxlength="1">
                    <input type="password" class="input-code" maxlength="1">
                </form>
                <p class="text-center subtitle-text">Se ha enviado un código de verificación a tu correo electrónico, revisa tu spam o correos no deseados</p>
            </div>
        </mat-card-content>
        <mat-card-actions class="mb-10">
            <button class="full-width" mat-raised-button color="primary" style="margin-right: 5px;">Verificar</button>
        </mat-card-actions>
        <div class="text-center mb-20">
            <span>¿No recibiste el código? </span> <a href=""> Reenviar</a>
        </div>
    </mat-card>
</div>
